@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased !important;
    max-width: 1020px;
    margin: 0 auto;
    padding: 1.5em;
    color: #222222;
}

body, input, button {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

button {
    cursor: pointer;
}
