.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info span {
    color: #777;
}

.header .user-info a {
    font-size: 14px;
    margin-left: 12px;
}

.nav-link {
    display: block;
    margin-top: 16px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation a {
    margin-left: 24px;
}

/* Battles list styles */
#battles-list {
    list-style: none;
}

#battles-list li {
    padding: 1em;
    border-bottom: 1px solid #d3d3d3;
}

#battles-list li a {
    text-decoration: none;
    color: #222222;
}

#battles-list li a:hover {
    box-shadow: inset 0 -1px 0 0 #696969;
}

/* Battle creation styles */
#battle-form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 60%;
}

#battle-form .field-wrapper {
    display: flex;
    flex-direction: column;
}

#battle-form .field-error li {
    list-style: none;
    color: #B00020;
}

#battle-form label {
    margin-top: 8px;
}

#battle-form select {
    min-width: 0;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #696969;
    background-color: #fff;
}

#battle-form button {
    margin-top: 16px;
    border: 0;
    border-radius: 2px;
    padding: 8px 16px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: #fff;
}

/* Battle detail styles */
#battle-creator {
    margin-top: 32px;
}

.heading-team {
    margin-top: 32px;
}

#battle-creator,
#battle-opponent {
    font-size: 24px;
}
