{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/battle_styles.css' %}" />

<header class="header">
  <h1>Battles</h1>
  <div class="user-info">
    <span>{{ user }}</span>
    <a href="{% url 'users:user_logout' %}">Log out</a>
  </div>
</header>
<nav class="navigation">
  <a class="nav-link" href="{% url 'battles:battle_create' %}">Add new</a>
  <a class="nav-link" href="{% url 'battles:settled_battles_list' %}">Settled</a>
  <a class="nav-link" href="{% url 'battles:ongoing_battles_list' %}">Ongoing</a>
</nav>
<ul id="battles-list">
  {% for battle in object_list %}
  <li><a href="{% url 'battles:battle_detail' battle.id %}">Pokebattle {{ battle.id }}</a></li>
  {% empty %}
    <li>No battles yet.</li>
  {% endfor %}
</ul>
