{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/battle_styles.css' %}" />

<h1>Hey, {{ object.opponent.email }}!</h1>
<p>{{ object.creator.email }} has invited you for a Pokebattle. Choose your Pokemons below:</p>
<form id="battle-form" action="{% url 'battles:battle_update_opponent_pokemons' object.id %}" method="post">
    {% csrf_token %}
  <span class="field-error">{{ form.non_field_errors }}</span>
  <div class="field-wrapper">
    <label for="{{ form.opponent_pokemon_1.id_for_label }}">Pokemon 1:</label>
    {{ form.opponent_pokemon_1 }}
    <span class="field-error">{{ form.opponent_pokemon_1.errors }}</span>
  </div>
  <div class="field-wrapper">
    <label for="{{ form.opponent_pokemon_2.id_for_label }}">Pokemon 2:</label>
    {{ form.opponent_pokemon_2 }}
    <span class="field-error">{{ form.opponent_pokemon_2.errors }}</span>
  </div>
  <div class="field-wrapper">
    <label for="{{ form.opponent_pokemon_3.id_for_label }}">Pokemon 3:</label>
    {{ form.opponent_pokemon_3 }}
    <span class="field-error">{{ form.opponent_pokemon_3.errors }}</span>
  </div>
  <button type="submit">Battle!</button>
</form>
<a class="nav-link" href="{% url 'battles:battle_list' %}">Back to list</a>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
<script>
  (function($) {
      $('#add-form').click(function() {
          var index = $('#id_inline_test_models-TOTAL_FORMS').val()
          var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
          newTable.find(':input').each(function() {
              for (attr of ['name', 'id'])
                  $(this).attr(
                      attr,
                      $(this).attr(attr).replace('__prefix__', index)
                  )
          })
          newTable.insertBefore($(this))
          $('#id_inline_test_models-TOTAL_FORMS').val(
              parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
          )
          newTable.slideDown()
      })
  })($)
  </script>

